{% load static %}
<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{cookiecutter.project_name}} API Spec</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'spec/favicon.ico'%}"
      sizes="32x32"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    {% if user.is_superuser %}
    <redoc spec-url="{% static 'spec/{{cookiecutter.project_slug}}-swagger.yml' %}"></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
    {% endif %}
  </body>
</html>
